# generated pickle and plots
*.pkl
*.png
*.pdf

# data file for holding IMD
*.root

# python and jupyter notebook cache
.ipynb_checkpoints
__pycache__
*.pyc
.venv

# don't commit notebooks because they are hard to track
*.ipynb
# except notebooks specifically in notebooks directory
!notebooks/*.ipynb
